In [ ]:
x = 1234.56789

In [17]:
# Two decimal places of accuracy
format(x, '0.2f') #無空格，小數保留2位
'1234.57'

'1234.57'

In [22]:
# Right justified in 10 chars, one-digit accuracy
format(x, '>10.1f') #數字輸出靠右，總計長度為10，小數保留1位
'    1234.6'

'    1234.6'

In [21]:
# Left justified
format(x, '<10.1f') #數字輸出靠左，總計長度為10，小數保留1位
'1234.6    '

'1234.6    '

In [20]:
# Centered
format(x, '^10.1f') #數字輸出靠中，小數保留2位
'  1234.6  '

'  1234.6  '

In [19]:
# Inclusion of thousands separator
format(x, ',') #指定逗號位數字的千分位分隔符
'1,234.56789'

'1,234.56789'

In [18]:
format(x, '0,.1f') #無佔位輸出，用逗號作為分隔符，保留1位小數
'1,234.6'

'1,234.6'

In [1]:
a="{:,}".format(12345678) 
print(a)

12,345,678

In [2]:
import re  
a = '20003'  
result = re.sub(r"(?<=\d)(?=(?:\d\d\d)+$)", ",", a)  
print(result)

20,003

# Pandas設置數字格式，整數、小數位數、百分號、千位分隔符

In [1]:
import pymysql
import pandas as pd
import numpy as np

#資料載入
conn = pymysql.connect("localhost", "root", "zx8212290", "genius_data", charset="utf8")
sql = "SELECT * FROM 歷史數據"
df = pd.read_sql(sql, conn)
df.head(10)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Date G/L,Year,Month,Exchange Rate,Foreign Unit Price,Foreign Extended Price,Foreign Extended Cost,Foreign Ext# Margin,Quantity Shipped,Description
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,4.9,490.0,366.20,123.80,100.0,OBM
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,4.9,490.0,366.31,123.69,100.0,OBM
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,4.9,490.0,366.18,123.82,100.0,OBM
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,3.9,19500.0,14171.00,5329.00,5000.0,OBM
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Headset,Headset,...,2019-04-07,2019,4,30.765,2.1,2100.0,1470.00,630.00,1000.0,OBM
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Headset,Headset,...,2019-04-07,2019,4,30.765,15.5,1550.0,647.59,902.41,100.0,OBM
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Headset,Headset,...,2019-04-07,2019,4,30.765,15.5,1550.0,647.59,902.41,100.0,OBM
7,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Speaker,2.0 Speaker,...,2019-04-07,2019,4,30.765,4.3,6020.0,3839.08,2180.92,1400.0,OBM
8,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Speaker,2.0 Speaker,...,2019-04-07,2019,4,30.765,4.3,1720.0,1101.32,618.68,400.0,OBM
9,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Speaker,2.0 Speaker,...,2019-04-07,2019,4,30.765,4.0,2400.0,1759.02,640.98,600.0,OBM

### 整數

In [2]:
df['Quantity Shipped'].astype(int)

0           100
1           100
2           100
3          5000
4          1000
          ...
671303     5000
671304    10216
671305    14000
671306    10000
671307    10000
Name: Quantity Shipped, Length: 671308, dtype: int32

### 小數位數，四捨五入
使用自定義函数可以做保留小數位數。<br>
但是經過自定義函数處理過後的數據已經不再是float。如需後續計算的話需要先做變換。

In [62]:
df['Quantity Shipped'].map(lambda x:('%.1f')%x)

0           100.0
1           100.0
2           100.0
3          5000.0
4          1000.0
           ...
671303     5000.0
671304    10216.0
671305    14000.0
671306    10000.0
671307    10000.0
Name: Quantity Shipped, Length: 671308, dtype: object

### 百分比
這裡利用自定義函数將每個數字進行format格式處理，處理後數據從float格式轉換成了帶2位小數和百分號的對象。

In [47]:
df['Quantity Shipped'].map(lambda x:format(x,'.2%'))

0           10000.00%
1           10000.00%
2           10000.00%
3          500000.00%
4          100000.00%
             ...
671303     500000.00%
671304    1021600.00%
671305    1400000.00%
671306    1000000.00%
671307    1000000.00%
Name: Quantity Shipped, Length: 671308, dtype: object

### 千位分隔符
處理後依然是對象格式。設置千位分割符請小心操作，因為對電腦來說，這些已經不再是數字了，而是數字和逗號組成的字符串，要再變成數值型就麻煩了。

In [60]:
#法一
df['Foreign Extended Price'].map(lambda x:format(x,','))

0            490.0
1            490.0
2            490.0
3         19,500.0
4          2,100.0
            ...
671303    19,500.0
671304    36,777.6
671305    27,860.0
671306    19,900.0
671307    46,000.0
Name: Foreign Extended Price, Length: 671308, dtype: object

In [72]:
#法二
df['Foreign Extended Price'].apply("{:,}".format)

0            490.0
1            490.0
2            490.0
3         19,500.0
4          2,100.0
            ...
671303    19,500.0
671304    36,777.6
671305    27,860.0
671306    19,900.0
671307    46,000.0
Name: Foreign Extended Price, Length: 671308, dtype: object

### 整數&千分位

In [6]:
df['Quantity Shipped'].astype(int).map(lambda x:format(x,','))
#df['Quantity Shipped'].astype(int).apply("{:,}".format)
#但type還是object，所以不能用來計算和做圖

0            100
1            100
2            100
3          5,000
4          1,000
           ...
671303     5,000
671304    10,216
671305    14,000
671306    10,000
671307    10,000
Name: Quantity Shipped, Length: 671308, dtype: object