In [27]:
app = xw.App(10559)  # or something like xw.apps[10559] for existing apps, get the available PIDs via xw.apps.keys()
app.books['Book1']

In [184]:
import xlwings as xw

#開啟現有活頁簿
wb = xw.Book(r'C:\Users\11004076\Documents\Python Scripts\4_Automation\Book1.xlsx')

#Excel索引行為(1起始)，標上''內的部分為Excel直觀法
sht = wb.sheets['Sheet1']
    #單格
sht.cells(2,'A').value = 'f'
sht.cells(5,1).value = 5  #(5,1)沒錯
sht.range('C2').value = 'He'
sht.range(10,1).value = 8

    #範圍
sht.range('A17:C20').value = 8
sht.range((22,1), (23,3)).value = 9
sht.range(sht.range('A17'), sht.range('C20')).value = 9
sht.range('O:P').value = 0
sht.range('17:20').value = 1


#Python索引行為(0起始)，標上''內的部分為Excel直觀法
sht3 = wb.sheets['Sheet3']

    #單格
sht3['A2'].value = 'A2'
sht3[5, 1].value = 5  #為(6,2)

    #範圍
sht3['C1:D5'].value = 15
sht3['C:D'].value = 'CD'
sht3[12:13, :10].value = 0
sht3[1:3, :].value = 3
sht3[8:10, 8:10].value = 'X'

In [121]:
rng1 =sht.range('A1').options(expand='table').value
rng1

[[1.0, 1.0, 2.0],
 ['f', None, 'He'],
 [2.0, None, None],
 [datetime.datetime(2000, 1, 1, 0, 0), None, None],
 [5.0, None, None],
 [1.0, 2.0, 3.0]]

In [122]:
#轉換成DataFrame顯示
import pandas as pd
df_rng1 = pd.DataFrame(rng1)
df_rng1

                     0    1     2
0                    1  1.0     2
1                    f  NaN    He
2                    2  NaN  None
3  2000-01-01 00:00:00  NaN  None
4                    5  NaN  None
5                    1  2.0     3

In [189]:
#格式化條件
sht.range('A17:A20').color = (255, 0, 0)
sht.range('B17:B20').color = (0, 255, 0)
sht.range('C17:C20').color = (0, 0, 255)